terraform.tfstate.backup
terraform.tfstate.1665304537.backup
terraform.tfstate.1665305859.backup
terraform.tfstate
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.26.0/darwin_amd64/terraform-provider-azurerm_v3.26.0_x5
